<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Music Management</h3>
<p>
    <a th:href="@{/music/create}">
        Add new music
    </a>
</p>
<table id = "products">
    <thead>
    <tr>
        <th>Name</th>
        <th>Producer</th>
        <th>Classification</th>
        <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="music : ${musics}">
        <td th:text="${music.name}"></td>
        <td th:text="${music.producer}"></td>
        <td th:text="${music.classification}"></td>

<!--        <td><img width="100" height="100" th:src="@{'/music/' + ${music.link}}" alt=""></td>-->
        <td><audio controls> <source th:src="@{'/music/' + ${music.link}}" type="audio/mpeg"></audio></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>